.book_name {
    font-style: italic;
}

a:link, a:visited, a:active {
    color:black;
    text-decoration: none;
}

a:hover {
    color:#1a75ff;
}

h1 {
    text-shadow: 3px 2px #000000 
}

header.masthead.my_masthead {
  position: relative;
  background-color: #343a40;
  background: url("./img/bg-masthead1.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.call-to-action.my_call_to_action {
  position: relative;
  background-color: #343a40;
  background: url("./img/bg-masthead1.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 7rem;
  padding-bottom: 7rem;
}
